{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
{% block content %}

<div>
    <div class="row mt-5 mb-5">
        <div class="col-md-8 col-sm-10 offset-md-2 offset-sm-1">
            <div class="jumbotron custom-jt">
               <div class="row">
                    <div class="col-12">
                        <h2 class="equip-text text-center mt-5">Your Bag</h2>
                    </div>
                </div>
            <div class="container-fluid mt-5">
    <div class="row">
        <div class="col-6 offset-3">
            <table>
                <tr>
                    <th></th>
                    <th>
                        <p class="equip-text"><strong>Item</strong></p>
                    </th>
                    <th>
                        <p class="equip-text"><strong>Price</strong></p>
                    </th>
                    <th>
                        <p class="equip-text"><strong>Quantity</strong></p>
                    </th>
                    <th>
                        <p class="equip-text"><strong>Sub-total</strong></p>
                    </th>
                </tr>
                {% for x in bag_items %}
                <tr>
                    <td>
                    </td>
                    <td>
                        <p class="equip-text"><strong>{{ x.equip_piece }}</strong></p>
                    </td>
                    <td>
                        <p class="equip-text"><strong>£{{ x.equip_piece.price }}</strong></p>
                    </td>
                    <td>
                        <form class="form update-form" method="POST" action="{% url 'adjust_bag' x.equip_piece.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-sm btn-black rounded-0"
                                            data-item_id="{{ x.equip_piece.id }}"
                                            id="decrement-qty_{{ x.equip_piece.id }}">
                                            <span>
                                                <i class="fas fa-minus fa-sm"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control form-control-sm qty_input" type="number"
                                        name="quantity" value="{{ x.quantity }}" min="1" max="99"
                                        data-item_id="{{ x.equip_piece.id }}" id="id_qty_{{ x.equip_piece.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-sm btn-black rounded-0"
                                            data-item_id="{{ x.equip_piece.id }}"
                                            id="increment-qty_{{ x.equip_piece.id }}">
                                            <span>
                                                <i class="fas fa-plus fa-sm"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                            <a class="update-link text-info"><small>Update</small></a>
                            <a class="remove-item text-danger float-right" id="remove_{{ x.equip_piece.id }}" data-size="{{ item.size }}"><small>Remove</small></a>
                    </td>
                    <td>
                        <p><strong>£{{ x.equip_piece.price | calc_subtotal:x.quantity }}</strong></p>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="5" class="pt-5 text-right">
                        <h6 class="equip-text"><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                        <h6 class="equip-text">Delivery: £{{ delivery|floatformat:2 }}</h6>
                        <h4 class="mt-4 equip-text"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="text-right">
                        <a href="{% url 'equipment' %}" class="btn btn-outline-black rounded-0 btn-lg">
                            <button class="text-uppercase">Keep Shopping</button>
                        </a>
                        <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                            <button class="text-uppercase">Secure Checkout</button>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
            </div>
        </div>
    </div>
</div>




{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'equipment/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}