{% extends 'base.html' %}
{% load static %}

{% block content %}

{{ request.path }}

<div>
    <div class="row mt-5 mb-5">
        <div class="col-md-8 col-sm-10 offset-md-2 offset-sm-1">
            <div class="jumbotron custom-jt">
                <div class="row">
                     <div class="col-md-4 offset-md-2 col-sm-12 mt-5 mb-5 d-flex justify-content-center">
                        <a href="#"><button type="button" class="btn btn-success custom-btn"><h3>Cricket</h3></button></a> 
                    </div>
                    <div class="col-md-4  col-sm-12 mt-5 mb-5 d-flex justify-content-center">
                        <a href="#"><button type="button" class="btn btn-success custom-btn"><h3>Hockey</h3></button></a> 
                    </div>
                 </div>
            <hr class="my-4">
                <div class="row">
                    <div class="col-md-4 offset-md-2 col-sm-12 mt-5 mb-5 d-flex justify-content-center">
                        <a href="#"><button type="button" class="btn btn-success custom-btn"><h3>Football</h3></button></a> 
                    </div>
                    <div class="col-md-4 col-sm-12 mt-5 mb-5 d-flex justify-content-center">
                        <a href="#"><button type="button" class="btn btn-success custom-btn"><h3>Rugby</h3></button></a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}