{% extends 'base.html' %}
{% load static %}

{% block content %}


<div>
    <div class="row mt-40 mb-20">
        <div class="col-6">
            <a href="#"><button>Cricket</button></a> 
        </div>
        <div class="col-6">
            <a href="#"><button>Hockey</button></a> 
        </div>
    </div>
    <div class="row mt-40 mb-20">
        <div class="col-6">
            <a href="#"><button>Football</button></a> 
        </div>
        <div class="col-6">
            <a href="#"><button>Rugby</button></a> 
        </div>
    </div>
</div>

{% endblock %}