{% extends 'base.html' %}
{% load static %}

{% block content %}


<div>
    <div class="row mt-5 mb-5">
        <div class="col-md-8 col-sm-10 offset-md-2 offset-sm-1">
            <div class="jumbotron custom-jt">
                <div class="row">
                     <div class="col-md-4 offset-md-2 col-sm-12 mt-5 mb-5 d-flex justify-content-center">
                        <a href="{% url 'equipment' %}?category=cricket"><button type="button" class="btn custom-btn cric-btn"><h3 class="custom-heading">Cricket</h3></button></a> 
                    </div>
                    <div class="col-md-4  col-sm-12 mt-5 mb-5 d-flex justify-content-center">
                        <a href="{% url 'equipment' %}?category=hockey"><button type="button" class="btn custom-btn hock-btn"><h3 class="custom-heading">Hockey</h3></button></a> 
                    </div>
                 </div>
            <hr class="my-4">
                <div class="row">
                    <div class="col-md-4 offset-md-2 col-sm-12 mt-5 mb-5 d-flex justify-content-center">
                        <a href="{% url 'equipment' %}?category=football"><button type="button" class="btn custom-btn foot-btn"><h3 class="custom-heading">Football</h3></button></a> 
                    </div>
                    <div class="col-md-4 col-sm-12 mt-5 mb-5 d-flex justify-content-center">
                        <a href="{% url 'equipment' %}?category=rugby"><button type="button" class="btn custom-btn rug-btn"><h3 class="custom-heading">Rugby</h3></button></a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}