{% extends 'base.html' %}
{% load static %}

{% block content %}



<div class="container-fluid mt-5">
    <div class="row">

        <div class="col-lg-3 col-md-6 mb-5">
            
            <div class="card text-white bg-primary mb-3 custom-card" style="max-width: 20rem;">
                <div class="card-header text-capitalize">{{ item.category }}</div>
                    <div class="card-body">
                        <h4 class="card-title">{{ item.name }}</h4>
                        <p class="card-text">{{ item.description }}</p></div><br>
                        <p class="card-text pl-2">Condition: {{ item.condition }}</p>
            </div>
           
        </div>
        </div>
</div>


{% endblock %}