{% extends 'base.html' %}
{% load static %}

{% block content %}



<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-3 col-md-6 mb-5">
            <div class="card text-white bg-primary mb-3 custom-card" style="max-width: 20rem;">
                <div class="card-header text-capitalize">{{ item.category }}</div>
                <div class="card-body">
                    <h4 class="card-title">{{ item.name }}</h4>
                    <p class="card-text">{{ item.description }}</p>
                </div><br>
                <p class="card-text pl-2">Condition: {{ item.condition }}</p>
            </div>
        </div>
    </div>
</div>
<form action="{% url 'add_to_bag' item.id %}" method="POST">
    {% csrf_token %}
      <div class="form-row">
        <div class="col-1 offset-1">
            <p class="mt-3"><strong>Quantity:</strong></p>
            <div class="form-group w-50">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="decrement-qty btn btn-black rounded-0" 
                            data-item_id="{{ item.id }}" id="decrement-qty_{{ item.id }}">
                            <span class="icon">
                                <i class="fas fa-minus"></i>
                            </span>
                        </button>
                    </div>
                    <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ item.id }}" id="id_qty_{{ item.id }}">
                    <div class="input-group-append">
                        <button class="increment-qty btn btn-black rounded-0"
                            data-item_id="{{ item.id }}" id="increment-qty_{{ item.id }}">
                            <span class="icon">
                                <i class="fas fa-plus"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="{% url 'equipment' %}" class="btn btn-outline-black rounded-0 mt-5">
                <button type="button" class="btn btn-primary">Continue Shopping</button>
            </a>
        <button type="submit" class="btn btn-primary">Add to Bag</button>
        </div>
        <!--get url to redirect back to after adding to bag--> 
        <input type="hidden" name="redirect_url" value="{{ request.path }}">
    </div>
</form>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'equipment/includes/quantity_input_script.html' %}
{% endblock %}