{% extends 'base.html' %}
{% load static %}

{% block content %}

<div>
    <div class="row mt-5 mb-5">
        <div class="col-md-8 col-sm-10 offset-md-2 offset-sm-1">
            <div class="jumbotron custom-jt">
                <div class="row">
                    {% if item.image %}
                     <div class="col-md-6 col-sm-12 justify-content-center">
                        <img src="{{ item.image }}" alt="{{ item.name }}" class="equip-img" style="object-fit: cover;">
                    </div>
                    {% else %}
                    <div class="col-md-6 col-sm-12 justify-content-center">
                     <img src="{{ MEDIA_URL }}no-image.jpg" alt="{{ item.name }}" class="equip-img">
                    </div>      
                    {% endif %}
                    <div class="col-md-6 col-sm-12 justify-content-center">
                        <h4 class="equip-text">{{ item.name }}</h4>
                        <p class="equip-text">{{ item.description }}</p>
                        <p class="equip-text">Condition: {{ item.condition }}</p>
                        <div class="row">
                            {% if request.user.is_superuser %}
                            <a href="{% url 'admin_edit' item.id %}"><button class="btn btn-primary">Edit</button></a>
                            <a href="{% url 'admin_delete' item.id %}"><button class="btn btn-primary">Delete</button></a>
                            {% endif %}
                            </div>
                        <form action="{% url 'add_to_bag' item.id %}" method="POST">
                        {% csrf_token %}
                            <p class="mt-3 offset-3 equip-text"><strong>Quantity:</strong></p>
                            <div class="form-group w-50 offset-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    <button class="decrement-qty btn btn-black rounded-0" 
                                        data-item_id="{{ item.id }}" id="decrement-qty_{{ item.id }}">
                                        <span class="icon">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </button>
                                </div>
                                <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ item.id }}" id="id_qty_{{ item.id }}">
                                <div class="input-group-append">
                                    <button class="increment-qty btn btn-black rounded-0"
                                        data-item_id="{{ item.id }}" id="increment-qty_{{ item.id }}">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'equipment' %}" class="btn btn-outline-black rounded-0 mt-5">
                            <button type="button" class="btn btn-primary custom-heading">Continue Shopping</button>
                        </a>
                    <button type="submit" class="btn btn-primary mt-5 custom-heading">Add to Bag</button>
                    
                    <!--get url to redirect back to after adding to bag--> 
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'equipment/includes/quantity_input_script.html' %}
{% endblock %}