{% extends 'base.html' %}
{% load static %}

{% block content %}

{% for cat in current_categories %}
    <h3 class="custom-heading text-capitalize text-center">{{ cat }}</h3>
{% endfor %}
<div class="row pr-5 pl-5">
 <div class="col-6">
    <p class="custom-heading mt-3 text-md-left">
        {{ equipment|length }} Item(s)
    </p>
</div>
<div class="col-3 offset-3">
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle custom-heading" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sort by</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'equipment' %}?sort=name&direction=asc">Name- A to Z</a>
                <a class="dropdown-item" href="{% url 'equipment' %}?sort=name&direction=desc">Name- Z to A</a>
                <a class="dropdown-item" href="{% url 'equipment' %}?sort=price&direction=desc">Price- High to Low</a>
                <a class="dropdown-item" href="{% url 'equipment' %}?sort=price&direction=asc">Price- Low to High</a>
                <a class="dropdown-item" href="{% url 'equipment' %}?sort=category&direction=asc">Category</a>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid mt-5">
    <div class="row">
{% for item in equipment %} 
        <div class="col-lg-3 col-md-6 mb-5">
            <a href="{% url 'equipment_item' item.id %}">
            <div class="card text-white bg-primary mb-3 custom-card cust-hov" style="max-width: 20rem;">
                <div class="card-header text-capitalize">{{ item.category }}</div>
                    <div class="card-body">
                        <h4 class="card-title">{{ item.name }}</h4>
                        <p class="card-text desc">{{ item.description }}</p>
                        <img src="{{ item.image }}" alt="image of the equipment">
                        <p class="card-text pl-2">Condition: {{ item.condition }}</p>
                        <h4 class="card-text pl-2 text-right">£{{ item.price }}</h4>
                    </div>
            </div>
             </a>
        </div>
{% endfor %}
        </div>
</div>

<button onclick="backToTop()" id="topBtn">Back to top</button>


{% endblock %}

{% block postloadjs %}

<script>
// From w3schools

//Get the button:
mybutton = document.getElementById("topBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function backToTop() {
  document.documentElement.scrollTop = 0;
}
</script>

{% endblock %}