{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div>
    <div class="row mt-5 mb-5">
        <div class="col-md-8 col-sm-10 offset-md-2 offset-sm-1">
            <div class="jumbotron custom-jt">
               <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="equip-text">Thank You! Your order has been received.</h2><br>
                <h4 class="equip-text">An email has been sent to {{ order.email }}</h4><br>
            </div>
        </div>
        <div class="row">
            <div class="col"><h4 class="equip-text">Order Number: {{ order.order_id }}</h4></div>
        </div><br>
        <div class="row">
            <div class="col equip-text"><h6>Delivery address:</h6><br>
            <p>{{ order.full_name }}</p>
            <p>{{ order.street_address1 }}</p>
            {% if order.street_address2 %}
            <p>{{ order.street_address2 }}</p>
            {% endif %}
            <p>{{ order.town_or_city }}</p>
            {% if order.county %}
            <p>{{ order.county }}</p>
            {% endif %}
            <p>{{ order.postcode }}</p>
            <p class="text-uppercase">{{ order.country }}</p>
            </div>
        </div>

        
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}