{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div>
    <div class="row mt-5 mb-5">
        <div class="col-md-8 col-sm-10 offset-md-2 offset-sm-1">
            <div class="jumbotron custom-jt">
               <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="equip-text">Thank You! Your order has been received.</h2><br>
                <h4 class="equip-text">An email has been sent to {{ order.email }}</h4>
            </div>
        </div>

        
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}