
body {
    background-image: url('/media/main-cricket.jpg');
    background-size: cover;
    background-color: aliceblue;
}

/*-------------------links--------------------*/

.custom-link {
    font-weight: 800;
    text-decoration: none;
    color: #000;
}

.custom-link:hover {
    text-decoration: none;
    color: green;
}

.update-link,
.remove-item {
    cursor: pointer;
}

/*------font---------*/
.custom-heading {
    font-family: 'Kiwi Maru', serif;
    color: rgb(235, 235, 235);
}

.custom-bag {
    font-family: 'Kiwi Maru', serif;
    color: rgb(179, 179, 179);
}

.equip-text {
    font-family: 'Kiwi Maru', serif;
    color: black;
}

/*----------nav----------*/
.bg-custom {
    background-image: linear-gradient(to bottom right, rgb(68, 68, 68), black);
}


.nav-margin {
    margin-right: 100px;
}

.custom-jt {
    background-color: rgba(235, 235, 235, 0.6)!important; 
    height: 75vh;
}

/*-------------buttons-----------------------*/

.custom-btn {
    height: 200px;
    width: 300px;
}

.foot-btn {
    background-image: url('/media/football2.jpg');
    background-color: black;
    background-size: cover;
}

.hock-btn {
    background-image: url('/media/hockey.jpg');
    background-color: black;
    background-size: cover;
}

.cric-btn {
    background-image: url('/media/cricket.jpg');
    background-color: black;
    background-size: cover;
}

.rug-btn {
    background-image: url('/media/rugby.jpg');
    background-color: black;
    background-size: cover;
}

/*----From w3schools for back to top button----*/

#topBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(68, 68, 68); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#topBtn:hover {
  background-color: rgb(168, 163, 163); /* Add a light-grey background on hover */
}


.img-resize {
    height: 100px;
    width: 100px;
}

.desc {
    overflow: hidden;
    max-height: 100px;
}

.custom-card {
    font-family: 'Kiwi Maru', serif;
    height: 100%;
    transition: all .2s ease-in-out; 
}


.custom-card:hover {
    transform: scale(1.2);
}

.custom-bag:hover {
    transform: scale(1.2);
    color: green;
}

.qty_input {
    width: 2rem;
}


/*--------------Messages------------------------*/

.message-container {
    position: fixed;
    z-index: 10000;
    right: 30px;
    top: 100px;
}

/*--------------checkout------------------------*/
#card-element {
    color: #000;
    border: 1px solid #000;
}

select, select option {
    color: #000;
}

select:invalid {
    color: #aab7c4;
}

/*-----------------footer---------------------*/
.custom-footer {
    position: fixed;
    bottom: 0px;
}

.ig {
    color: rgb(129, 58, 0);
}

.yt {
    color: red;
}

.li {
    color: rgb(103, 172, 236);
}