
body {
    background: url('/media/main-cricket.jpg');
    background-size: cover;
}

.custom-heading {
    font-family: 'Kiwi Maru', serif;
    color: rgb(235, 235, 235);
}

.custom-jt {
    background-color: rgba(235, 235, 235, 0.6)!important; 
    height: 75vh;
}

.custom-btn {
    height: 200px;
    width: 300px;
}

.img-resize {
    height: 100px;
    width: 100px;
}

.custom-card {
    font-family: 'Kiwi Maru', serif;
    height: 100%;
    transition: all .2s ease-in-out; 
}

.custom-card:hover {
    transform: scale(1.2);
}

/*----From w3schools for back to top button----*/

#topBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#topBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}